# Default Owner
# If an owner appears later in this list, their ownership
# overrides this defualt.
* @kemitchell

# kemitchell
forms/goldplate @kemitchell
forms/indieopensource @kemitchell
forms/kemitchell @kemitchell
forms/passport @kemitchell
forms/switchmode @kemitchell
forms/waypoint @kemitchell
