root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 72
trim_trailing_whitespace = true

[**.{json,md,sh}]
max_line_length = false

[Makefile]
indent_style = tab
indent_size = 4
max_line_length = false
