.container {
	margin: 0 auto;
	max-width: 640px; }

$fadedText: #bbb;

.commonform {
	line-height: 140%;
	padding: 1em;
	&> section {
		padding: 14px 0; }
	p {
		dfn {
			font-style: normal;
			font-weight: bold;
			&:before {
				color: $fadedText;
				content: "\"\""; }
			&:after {
				color: $fadedText;
				content: "\"\""; } }
		.use {
			text-decoration: none;
			color: black;
			&:before {
				color: $fadedText;
				content: "<"; }
			&:after {
				color: $fadedText;
				content: ">"; } }
		.reference {
			color: black;
			text-decoration: underline;
			&:before {
				color: $fadedText;
				content: "{"; }
			&:after {
				color: $fadedText;
				content: "}"; } }
		.blank {
			color: black;
			text-decoration: none;
			background: yellow;
			&:before {
				color: $fadedText;
				content: "["; }
			&:after {
				color: $fadedText;
				content: "]"; } } } }

.conspicuous > p > span {
	font-weight: bold;
	font-style: italic; }

section {
	padding: 0 0 0 2em; }

.focused {
	background: rgb(250,245,245); }

aside {
	font-size: 75%;
	color: #777;
	p {
		margin: 6px 0; } }

nav {
	border: 1px solid black;
	padding: 1em;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
}

.digest {
	display: block;
	width: 100%;
	font-size: 75%;
	color: #777;
}

.buttons {
	display: block;
	width: 100%;
	padding: 0.5em 0;
}

.error {
	color: darkred;
}

.warning {
	color: orange;
}

.info {
	color: blue;
}

menu {
	padding: 0;
}
