* {
	font-size: 12pt;
	line-height: 140%; }

.browser {
	margin: 0 auto;
	padding: 1em;
	max-width: 960px; }

.form .definition {
	color: blue; }

.form .definition:before {
	content: "“"; }

.form .definition:after {
	content: "”"; }

.form .use {
	color: green; }

.form .reference {
	color: red; }

.form .blank:before {
	content: "["; }

.form .blank:after {
	content: "]"; }

.form .blank {
	color: orange; }

.heading {
	font-weight: bold;
	display: inline-block; }

.conspicuous > span {
	font-weight: bold;
	font-style: italic; }

.blanks,
.mainMenu,
.menu,
.search,
.errors,
.title {
	margin: 1em;
	padding: 1em;
	border: 1px solid #ddd;
	display: block; }

.errors {
	background: #ffcccc;
	ul {
		margin: 0; } }

.blanks table th,
.blanks table td {
	text-align: left; }

.search form,
.title form {
	display: flex; }

.search input[type=text],
.title input[type=text] {
	flex: 1; }

.form .child {
	position: relative;
	padding-left: 1em;
	margin: 2em 0 2em 1em;
	text-align: left; }

.browser > .form > .child {
	padding-left: 1em;
	margin-right: 0; }

.childButton {
	padding: 0;
	display: block;
	position: absolute;
	left: -1em;
	top: 0; }

.annotations {
	color: #aaa;
	display: block;
	text-indent: 0; }

footer {
	border-top: 1px solid black; }
