.container {
	margin: 0 auto;
	max-width: 960px; }

.commonform {
	line-height: 140%;
	padding: 1em;
	dfn {
		color: blue;
		&:before {
			content: "\"\""; }
		&:after {
			content: "\"\""; } }
	.use {
		color: green;
		&:before {
			content: "<"; }

		&:after {
			content: ">"; } }
	.reference {
		color: red;
		&:before {
			content: "{"; }
		&:after {
			content: "}"; }
	.blank {
		color: orange; }
		&:before {
			content: "["; }
		&:after {
			content: "]"; } } }

.conspicuous > p > span {
	font-weight: bold;
	font-style: italic; }

section {
	padding: 0px 0 0px 14px; }

aside {
	font-size: 75%;
	color: #ccc; }
