@media all                        { html { font-size: 23px; } }
@media all and (max-width:1000px) { html { font-size: 23px; } }
@media all and (max-width:960px)  { html { font-size: 22px; } }
@media all and (max-width:920px)  { html { font-size: 21px; } }
@media all and (max-width:880px)  { html { font-size: 20px; } }
@media all and (max-width:840px)  { html { font-size: 19px; } }
@media all and (max-width:800px)  { html { font-size: 18px; } }
@media all and (max-width:760px)  { html { font-size: 17px; } }
@media all and (max-width:720px)  { html { font-size: 16px; } }
@media all and (max-width:680px)  { html { font-size: 15px; } }
@media all and (max-width:640px)  { html { font-size: 14px; } }
@media all and (max-width:600px)  { html { font-size: 13px; } }
@media all and (max-width:560px)  { html { font-size: 12px; } }
@media all and (max-width:520px)  { html { font-size: 11px; } }

body {
  text-align: center;
  font-family: "Century Schoolbook", Georgia;
  color: #444;
  text-rendering: optimizeLegibility;
}

.content {
  width: 37rem;
  margin: 2rem auto;
  line-height: 1.4;
  text-align: left;
}

hr {
  border: none;
  border-top: 1px solid black;
}

h1 {
  font-size: 100%;
  font-weight: normal;
}

h1:before {
  content: '[•]';
}

.commonform section > section > p { margin-left: 3rem; }
.commonform section > section > section > p { margin-left: 6rem; }
.commonform section > section > section > section > p { margin-left: 9rem; }
.commonform section > section > section > section > section > p { margin-left: 12rem; }

.commonform section > section > .heading { margin-left: 3rem; }
.commonform section > section > section > .heading { margin-left: 6rem; }
.commonform section > section > section > section > .heading { margin-left: 9rem; }
.commonform section > section > section > section > section > .heading { margin-left: 12rem; }

.commonform .heading {
  font-weight: bold;
  text-indent: 0;
}

.commonform .conspicuous > p {
  font-weight: bold;
  font-style: italic;
}

.commonform .conspicuous > p > .term,
.commonform .conspicuous > p > dfn {
  font-style: normal;
}

.commonform section {
  position: relative;
}

.commonform .blank {
  display: inline-block;
  width: 5rem;
  border-bottom: 1px dashed black;
}

.commonform .reference {
  font-style: italic;
}

.commonform .reference:before {
  content: '☞';
}

.commonform .term {
  text-decoration: none;
  color: inherit;
  font-style: italic;
}

.commonform .term:hover {
  text-decoration: underline;
}

.commonform dfn {
  font-weight: bold;
  font-style: normal;
}
