.form .definition {
	font-weight: bold; }

.form .definition:before {
	content: "“"; }

.form .definition:after {
	content: "”"; }

.form .use {
	font-style: italic; }

.form .reference {
	text-decoration: underline; }

.form .blank:before {
	content: "["; }

.form .blank:after {
	content: "]"; }

.child .heading {
	font-weight: bold;
	display: block;
	margin-bottom: 1em; }

.form .child {
	display: block;
	margin: 1em 0 1em 1em; }

div.form, div.menu, div.mainMenu, div.annotations, div.blanks {
	margin: 1em;
	padding: 1em;
	border: 1px solid black;
	display: block; }

div.form:before {
	font-weight: bold;
	color: green;
	content: '[Form] '; }

div.mainMenu:before {
	font-weight: bold;
	color: green;
	content: '[Main Menu] '; }

div.menu:before {
	font-weight: bold;
	color: green;
	content: '[Menu] '; }

div.annotations:before {
	font-weight: bold;
	color: green;
	content: '[Annotations] '; }

div.heading:before {
	font-weight: bold;
	color: green;
	content: '[Heading] '; }

div.blanks:before {
	font-weight: bold;
	color: green;
	content: '[Blanks] '; }

table.blanks th,
table.blanks td {
	text-align: left; }
