.form .definition {
	color: blue; }

.form .definition:before {
	content: "“"; }

.form .definition:after {
	content: "”"; }

.form .use {
	color: green; }

.form .reference {
	color: red; }

.form .blank:before {
	content: "["; }

.form .blank:after {
	content: "]"; }

.form .blank {
	color: orange; }

.child .heading {
	font-weight: bold;
	display: block;
	margin-bottom: 1em; }

.form .child {
	display: block;
	margin: 1em 0 1em 1em; }

.form.conspicuous > span {
	font-weight: bold;
	font-style: italic; }

div.annotations,
div.blanks,
div.form,
div.mainMenu,
div.menu,
div.title {
	margin: 1em;
	padding: 1em;
	border: 1px solid #ddd;
	display: block; }

div.mainMenu:before {
	font-weight: bold;
	color: green;
	content: '[Main Menu] '; }

div.menu:before {
	font-weight: bold;
	color: green;
	content: '[Menu] '; }

div.annotations:before {
	font-weight: bold;
	color: green;
	content: '[Annotations] '; }

div.heading:before {
	font-weight: bold;
	color: green;
	content: '[Heading] '; }

div.blanks:before {
	font-weight: bold;
	color: green;
	content: '[Blanks] '; }

table.blanks th,
table.blanks td {
	text-align: left; }

input {
	width: 100%; }
