.browser {
	margin: 0 auto;
	max-width: 800px; }

.form .definition {
	color: blue; }

.form .definition:before {
	content: "“"; }

.form .definition:after {
	content: "”"; }

.form .use {
	color: green; }

.form .reference {
	color: red; }

.form .blank:before {
	content: "["; }

.form .blank:after {
	content: "]"; }

.form .blank {
	color: orange; }

.child .heading {
	font-weight: bold;
	display: block;
	margin-bottom: 1em; }

.form .child {
	display: block;
	margin: 1em 0 1em 1em; }

.conspicuous > span {
	font-weight: bold;
	font-style: italic; }

.annotations,
.blanks,
.form,
.mainMenu,
.menu,
.search,
.errors,
.title,
footer {
	margin: 1em;
	padding: 1em;
	border: 1px solid #ddd;
	display: block; }

.errors {
	background: #ffcccc; }

.blanks table th,
.blanks table td {
	text-align: left; }

.search form,
.title form {
	display: flex; }

.search input[type=text],
.title input[type=text] {
	flex: 1; }
