.browser {
	margin: 0 auto;
	max-width: 800px; }

.form .definition {
	color: blue; }

.form .definition:before {
	content: "“"; }

.form .definition:after {
	content: "”"; }

.form .use {
	color: green; }

.form .reference {
	color: red; }

.form .blank:before {
	content: "["; }

.form .blank:after {
	content: "]"; }

.form .blank {
	color: orange; }

.child .heading {
	font-weight: bold;
	display: block;
	margin-bottom: 1em; }

.form .child {
	display: block;
	margin: 1em 0 1em 1em; }

.conspicuous > span {
	font-weight: bold;
	font-style: italic; }

div.annotations,
div.blanks,
div.form,
div.mainMenu,
div.menu,
.errors,
.title {
	margin: 1em;
	padding: 1em;
	border: 1px solid #ddd;
	display: block; }

.errors {
	background: #ffcccc; }

table.blanks th,
table.blanks td {
	text-align: left; }

input {
	width: auto; }
