@subFormIndent: 2em;

.summary {
  font-weight: bold;
}

.summary {
  border: 1px solid white;
  box-shadow: 0;
  -webkit-box-shadow: none;
  -mox-box-shadow: none;
}

.subForm {
  padding: 1em 0;
}

dfn {
  font-style: normal;
  color: blue;
}

.row {
  padding: 0.25em 0;
}

.reference {
  color: red;
}

.use {
  color: lightgreen;
}
