@subFormIndent: 2em;

.summary {
  font-weight: bold;
}

.subForm {
  margin-left: @subFormIndent;
}

.summary {
  border: 1px solid white;
  box-shadow: 0;
  -webkit-box-shadow: none;
  -mox-box-shadow: none;
}
