@charset "UTF-8";

html {
  font-family: Equity, Georgia, serif;
  font-size: 2.4vw;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
}

@media all and (min-width: 1000px) {
  html {
    font-size: 24px;
  }
}

@media all and (max-width: 520px) {
  html {
    font-size: 18px;
  }
}

header[role='banner'],
main[role='main'],
footer[role='contentinfo'] {
  margin-left: auto;
  margin-right: auto;
  max-width: 33rem;
  padding: 0 1rem;
}

header[role='banner'] {
  margin-top: 2rem;
}

header[role='banner'] a:first-child {
  border-bottom: none;
}

header[role='banner'] h1 {
  margin-top: 0.5rem;
}

main[role='main'] {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

header[role='banner'] img {
  width: 6rem;
  margin-bottom: 1em;
}

main[role='main'] h1 {
  margin: 1rem 0;
}

main[role='main'] img {
  max-width: 100%;
}

main[role='main'] .logo {
  max-height: 4rem;
  max-width: 4rem;
  min-width: 3rem;
}

@media all {
  html {
    font-size: 23px;
  }
}

@media all and (max-width: 1000px) {
  html {
    font-size: 23px;
  }
}

@media all and (max-width: 960px) {
  html {
    font-size: 22px;
  }
}

@media all and (max-width: 920px) {
  html {
    font-size: 21px;
  }
}

@media all and (max-width: 880px) {
  html {
    font-size: 20px;
  }
}

@media all and (max-width: 840px) {
  html {
    font-size: 19px;
  }
}

@media all and (max-width: 800px) {
  html {
    font-size: 18px;
  }
}

@media all and (max-width: 760px) {
  html {
    font-size: 17px;
  }
}

@media all and (max-width: 720px) {
  html {
    font-size: 16px;
  }
}

@media all and (max-width: 680px) {
  html {
    font-size: 15px;
  }
}

@media all and (max-width: 640px) {
  html {
    font-size: 14px;
  }
}

@media all and (max-width: 600px) {
  html {
    font-size: 13px;
  }
}

@media all and (max-width: 560px) {
  html {
    font-size: 12px;
  }
}

@media all and (max-width: 520px) {
  html {
    font-size: 11px;
  }
}

a[href] {
  color: black;
  text-decoration: none;
  border-bottom: 1px dashed #999;
}

a[href] img {
  border-bottom: none;
}

a[href]:hover {
  color: #999;
}

.conspicuous > p {
  font-style: italic;
  font-weight: bold;
}

dfn {
  font-weight: bold;
  font-style: normal;
}

.use,
.reference {
  color: inherit;
  font-style: italic;
}

.blank {
  border-bottom: 1px dashed black;
}

.info,
.warn,
.error {
  padding: 1ex;
  border-radius: 1ex;
  margin: 1ex 0;
}

.info {
  background-color: #d5ffd3;
}

.warn {
  background-color: #ffe7bc;
}

.error {
  background-color: #ffbdbc;
}

footer[role='contentinfo'] {
  border-top: 1px solid black;
  text-align: right;
  margin-bottom: 5rem;
}

main[role='main'] > h1 {
  font-size: 75%;
  margin-top: 0;
  padding-top: 0;
}

th {
  text-align: left;
}

td,
th {
  padding: 0.5ex;
  vertical-align: top;
}

td ul {
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.digest {
  color: #777;
  font-family: Triplicate, 'Andale Mono', monospace;
  font-size: 90%;
}

.term {
  font-style: italic;
}

main[role='main'] h1,
main[role='main'] h2,
main[role='main'] h3,
main[role='main'] h4,
main[role='main'] h5,
main[role='main'] h6 {
  padding: 0;
  margin-top: 1.5rem;
  margin-bottom: 0;
}

main[role='main'] h1 {
  font-size: 2rem;
}

main[role='main'] h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

main[role='main'] h3 {
  font-size: 1rem;
  font-weight: bold;
  font-style: italic;
}

main[role='main'] h4 {
  font-size: 1rem;
  font-weight: normal;
  font-style: italic;
}

main[role='main'] h5 {
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
}

main[role='main'] h6 {
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
}

main[role='main'] h6:before {
  content: '§ ';
}

main[role='main'] h1,
main[role='main'] h2,
main[role='main'] h3,
main[role='main'] h4,
main[role='main'] h5,
main[role='main'] h6 {
  padding: 0;
  margin-top: 1.5rem;
  margin-bottom: 0;
}

p {
  margin: 0.75rem 0;
}

.star a:before {
  content: '☆';
}

.form {
  border: 1px dashed #ccc;
  padding: 0 1rem;
}

.form ol {
  list-style-type: decimal;
}

.form ol ol {
  list-style-type: lower-alpha;
}

.form ol ol ol {
  list-style-type: lower-roman;
}

.form ol ol ol {
  list-style-type: upper-alpha;
}

.form ol ol ol ol {
  list-style-type: upper-roman;
}

ul {
  padding-left: 1rem;
}

.featured {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 33.3%);
  text-align: center;
}

.featured li {
  border-radius: 1ex;
  border: 1px solid #777;
  display: block;
  padding: 1rem;
}

.feartured li a,
.featured li .logo {
  display: block;
}

.featured li .logo {
  display: block;
  height: 4rem;
  margin: 0 auto 1rem auto;
}

.thanks {
  column-count: 2;
}

.warning,
.info {
  border: 1px solid transparent;
  border-radius: 0.25rem;
  margin: 1rem 0;
  padding: 0 0.8rem;
}

.warning {
  background-color: #fff3cd;
  border-color: #ffeeba;
  color: #856404;
}

.warning a[href] {
  border-bottom: 1px dashed #856404;
  color: #856404;
}
