@charset "UTF-8";

html {
  font-family: Equity, Georgia, serif;
  text-rendering: optimizeLegibility;
  line-height: 1.4;
}

@media all {
  html {
    font-size: 23px; } }
@media all and (max-width: 1000px) {
  html {
    font-size: 23px; } }
@media all and (max-width: 960px) {
  html {
    font-size: 22px; } }
@media all and (max-width: 920px) {
  html {
    font-size: 21px; } }
@media all and (max-width: 880px) {
  html {
    font-size: 20px; } }
@media all and (max-width: 840px) {
  html {
    font-size: 19px; } }
@media all and (max-width: 800px) {
  html {
    font-size: 18px; } }
@media all and (max-width: 760px) {
  html {
    font-size: 17px; } }
@media all and (max-width: 720px) {
  html {
    font-size: 16px; } }
@media all and (max-width: 680px) {
  html {
    font-size: 15px; } }
@media all and (max-width: 640px) {
  html {
    font-size: 14px; } }
@media all and (max-width: 600px) {
  html {
    font-size: 13px; } }
@media all and (max-width: 560px) {
  html {
    font-size: 12px; } }
@media all and (max-width: 520px) {
  html {
    font-size: 11px; } }

.digest {
  font-family: Triplicate, "Andale Mono", monospace;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.commonform {
  margin-left: 1rem;
}

.commonform section {
  margin-bottom: 1rem;
  margin-left: 2rem;
  margin-top: 1rem;
  padding: 0 0.5rem 0.5rem 0.5rem;
  position: relative;
}

.editor .commonform section {
  margin-bottom: 0;
  margin-top: 0;
}

.commonform .conspicuous > p {
  font-style: italic;
  font-weight: bold;
}

.commonform p {
  margin: 0;
}

.commonform section:before {
  content: '§';
  left: -1rem;
  position: absolute;
}

.commonform .component:before {
  content: '⚙';
}

.commonform .heading {
  box-sizing: border-box;
  display: block;
  font-size: 100%;
  font-weight: bold;
  width: 100%;
}

.commonform dfn {
  font-weight: bold;
}

.commonform .use, .commonform .reference {
  color: black;
  font-style: italic;
}

.reference {
  color: black;
  font-style: italic;
}

.reference:before {
  content: '☞ ';
}

.commonform .blank {
  display: inline-block;
  border: none;
  border-bottom: 1px dashed black;
  background: inherit;
  width: 10rem;
}

.commonform .child-link {
  font-size: 75%;
}

.commonform .annotation {
  font-size: 75%;
  font-style: italic;
}

.info {
  background-color: #d5ffd3;
  padding: 0.5rem;
}

.warn  {
  background-color: #ffe7bc;
  padding: 0.5rem;
}

.error {
  background-color: #ffbdbc;
  padding: 0.5rem;
}

.toc ol {
  list-style-type: none;
}

body {
  background: #eee;
}

header, footer, article, form {
  background: white;
  margin: 1rem;
  padding: 1rem;
}

body > footer {
  font-size: 75%;
  text-align: right;
}

.hidden {
  display: none;
}

.selected {
  background: rgb(255, 255, 213);
}

.expanded {
  color: #777;
}

.commonform input[type=text],
.commonform input[type=password] {
  padding: 1ex;
}

.annotationCounts {
  position: fixed;
  right: 1rem;
  top: 1rem;
  z-index: 100;
}

.annotationCounts .count {
  margin: 0 1ex;
  cursor: pointer;
  text-decoration: none;
}

button + button {
  margin-left: 1ex;
}

label input[type=checkbox] {
  margin: 0 1ex 0 1ex;
}

.component .substitutions {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.component .identification {
  padding: 1rem 0;
}

.child-button, .move-button {
  background: inherit;
  border: 1px dashed #eee;
  color: transparent;
  cursor: pointer;
  display: block;
  text-align: left;
  width: 100%;
}

.child-button:before {
  content: 'Add § here.';
}

.move-button:before {
  content: 'Move here.';
}

.child-button:hover, .move-button:hover {
  color: #777;
}

.editor section {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2.50rem;
  margin-left: 0;
}

.editor section h1 {
  margin-top: 0;
}

.editor .selector {
  cursor: pointer;
  left: 0;
  position: absolute;
  text-align: center;
  text-decoration: none;
  top: 0.5rem;
}

.selector:before {
  content: '§' !important;
}

.editor .commonform section:before {
  content: '';
}

.summary {
  padding: 0;
  margin: 0;
}

.undefined, .brokenReferences {
  list-style-type: none;
  padding: 0;
}

.undefined:before {
  content: 'Undefined Terms: ';
}

.brokenReferences:before {
  content: 'Broken References: ';
}

.undefined li, .brokenReferences li {
  display: inline;
}

.summary li:after {
  content: ', ';
}

.summary li:last-child:after {
  content: '';
}

.comment, .annotation {
  border: 1px solid #777;
  border-radius: 15px;
  border-left: 1px solid #777;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.comment {
  background-color: rgb(230, 230, 255);
}

.byline {
  text-align: right;
  display: block;
}

ins, del {
  width: auto;
  height: auto;
  margin: none;
  padding: none;
}

ins {
  color: rgb(0, 100, 0);
}

del {
  color: rgb(100, 0, 0);
}
