html {
  font-family: sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.commonform {
  margin-left: 1rem;
}

.commonform section {
  margin-left: 2rem;
  position: relative;
}

.commonform section:before {
  content: '§';
  left: -1rem;
  position: absolute;
}

.commonform h1,
.commonform h2,
.commonform h3,
.commonform h4,
.commonform h5,
.commonform h6 {
  font-size: 100%;
}

.commonform dfn {
  font-weight: bold;
}

.commonform .use {
  font-style: italic;
}

.commonform .blank {
  border-bottom: 1px solid black;
}

.commonform .child-link {
  font-size: 75%;
}

.commonform .annotation {
  font-size: 75%;
}

.info {
  color: darkgreen;
}

.warn {
  color: darkorange;
}

.error {
  color: darkred;
}

.menu {
  background: white;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  height: 3rem;
  left: 0;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.menu + section {
  margin-top: 4rem;
}
